.slide{
    min-width: 100%;
}

html{
    scroll-behavior: smooth
}

.isActive {
    width: 30px;
}




.contact_btn:hover svg {
    fill: white;
}



.activeBurger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .activeBurger span:nth-child(2) {
    opacity: 0; 
  }
  
  .activeBurger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

.isActiveLanguageBtn{
  border: 2px solid rgb(11, 100, 11);
}

